.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 20px;
  text-align: center;
}

.my-projects {
  width: 150px;
  text-align: left;
  justify-self: center;
}

.my {
  font-size: 36px;
}

.projects {
  font-size: 64px;
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .my {
    font-size: 24px;
  }

  .projects {
    font-size: 24px;
  }
}
